USE [master]
GO
/****** Object:  Database [Healthy&Tasty]    Script Date: 11/17/2019 9:25:24 PM ******/
CREATE DATABASE [Healthy&Tasty]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Healthy&Tasty', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Healthy&Tasty.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Healthy&Tasty_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Healthy&Tasty_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Healthy&Tasty].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Healthy&Tasty]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/17/2019 9:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Admin_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bell]    Script Date: 11/17/2019 9:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bell](
	[BellID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[totalcost] [float] NOT NULL,
 CONSTRAINT [PK_Bell] PRIMARY KEY CLUSTERED 
(
	[BellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diet]    Script Date: 11/17/2019 9:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diet](
	[DietID] [int] IDENTITY(1,1) NOT NULL,
	[DietName] [nvarchar](max) NOT NULL,
	[carbsPercent] [int] NOT NULL,
	[ProtienPercent] [int] NOT NULL,
	[vitaminPercent] [int] NOT NULL,
	[fatsPercent] [int] NULL,
	[mineralsPercent] [int] NOT NULL,
	[DietDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Diet] PRIMARY KEY CLUSTERED 
(
	[DietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Meal]    Script Date: 11/17/2019 9:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal](
	[mealID] [int] IDENTITY(1,1) NOT NULL,
	[Mname] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[ingrdiants] [nvarchar](max) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[DietID] [int] NOT NULL,
	[image] [image] NOT NULL,
 CONSTRAINT [PK_Meal] PRIMARY KEY CLUSTERED 
(
	[mealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/17/2019 9:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[mealID] [int] NOT NULL,
	[state] [nchar](10) NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/17/2019 9:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](20) NOT NULL,
	[age] [int] NULL,
	[address] [nvarchar](max) NULL,
	[e_mail] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[weight] [float] NULL,
	[hight] [float] NULL,
	[medicalState] [nvarchar](max) NULL,
	[FreePoints] [int] NULL,
	[creditLimit] [numeric](19, 0) NULL,
	[DietID] [int] NULL,
	[free_meals] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([UserName], [Password], [ID]) VALUES (N'samaa', N'm20121987 ', 1)
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Diet] ON 

INSERT [dbo].[Diet] ([DietID], [DietName], [carbsPercent], [ProtienPercent], [vitaminPercent], [fatsPercent], [mineralsPercent], [DietDescription]) VALUES (3, N'Under Weight', 50, 25, 3, 20, 2, N'try to gain weight in a healthy way and through saturated fats')
INSERT [dbo].[Diet] ([DietID], [DietName], [carbsPercent], [ProtienPercent], [vitaminPercent], [fatsPercent], [mineralsPercent], [DietDescription]) VALUES (4, N'Healthy', 45, 30, 5, 20, 5, N'To keep your BMI in healthy range')
INSERT [dbo].[Diet] ([DietID], [DietName], [carbsPercent], [ProtienPercent], [vitaminPercent], [fatsPercent], [mineralsPercent], [DietDescription]) VALUES (5, N'Over Weight', 40, 25, 10, 15, 5, N'try to lose weight in a healthy way')
SET IDENTITY_INSERT [dbo].[Diet] OFF
SET IDENTITY_INSERT [dbo].[Meal] ON 

SET IDENTITY_INSERT [dbo].[Meal] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [CustomerID], [mealID], [state], [comment]) VALUES (2, 1012, 1013, NULL, N'paid')
INSERT [dbo].[Order] ([ID], [CustomerID], [mealID], [state], [comment]) VALUES (3, 1012, 1013, NULL, NULL)
INSERT [dbo].[Order] ([ID], [CustomerID], [mealID], [state], [comment]) VALUES (4, 1012, 1013, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([customerID], [fullName], [age], [address], [e_mail], [phone], [weight], [hight], [medicalState], [FreePoints], [creditLimit], [DietID], [free_meals]) VALUES (1012, N'shams eissa', 20, N'menpuf', N'sham.eissa@gmail.com', N'12345', 40, 160, N'Healthy', 0, NULL, 3, 0)
INSERT [dbo].[Users] ([customerID], [fullName], [age], [address], [e_mail], [phone], [weight], [hight], [medicalState], [FreePoints], [creditLimit], [DietID], [free_meals]) VALUES (1013, N'mohammed atef', 32, N'cairo', N'mohammed.atef@gmail.com', N'98765', 75, 170, N'Healthy', 0, NULL, 5, 0)
INSERT [dbo].[Users] ([customerID], [fullName], [age], [address], [e_mail], [phone], [weight], [hight], [medicalState], [FreePoints], [creditLimit], [DietID], [free_meals]) VALUES (1014, N'omnia atef', 24, N'shobra', N'omnia.atef@gmail.com', N'9876543', 57, 160, N'Healthy', 0, NULL, 4, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Bell]  WITH CHECK ADD  CONSTRAINT [FK_Bell_Order] FOREIGN KEY([BellID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Bell] CHECK CONSTRAINT [FK_Bell_Order]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Diet] FOREIGN KEY([DietID])
REFERENCES [dbo].[Diet] ([DietID])
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [FK_Meal_Diet]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([customerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Meal] FOREIGN KEY([mealID])
REFERENCES [dbo].[Meal] ([mealID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Meal]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Diet] FOREIGN KEY([DietID])
REFERENCES [dbo].[Diet] ([DietID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Diet]
GO
USE [master]
GO
